
.status-bar-unpaid {
    width: 100%;
    height: 5px;
    background-color: red;
    color: white;
    padding: 2px;
    text-align: center;
}

.status-bar-paid {
    width: 100%;
    height: 5px;
    background-color: green;
    color: white;
    padding: 2px;
    text-align: center;
}

.pay-button:disabled {
    background-color: #dcdcdc;  
    cursor: not-allowed;
}


/* .pay-button[disabled]::after {
    content: " ✔";
    color: green;
} */



.status-paid {
    background-color: #4caf50; 
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.status-unpaid {
    background-color: #f44336; 
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}







.custom-table-container {
    overflow-x: auto;
    padding: 10px;
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slds-table {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    border-collapse: collapse;
}

.slds-table th, 
.slds-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.slds-text-title_caps {
    background: #0070d2; 
    color: white;
    text-transform: uppercase;
}

.slds-table tbody tr:nth-child(even) {
    background: #f4f6f9;
}
.slds-table thead th {
    background-color: rgb(94 94 74);
    color: white;
    padding: 20px;
    font-weight: bold;
    line-height: normal;
}
.pay-button {
    background: #33383b;
    color: white;
    border: solid;
    border-width: 1px;
    padding: 9px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* .pay-button:hover {
    background: #ffffff;
    color:black;
    border-color: black;
    transform: translateY(-2px);
} */

.slds-text-color_error {
    font-weight: bold;
    text-align: center;
}
